@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method='POST' action='@Url.Action("UploadVideo", "Home")'>
        <text><h1>PogU</h1></text>
        <input  type='file'  />
        <label for='file'>File:</label>
        <input id='file' name='FileData' type='file' value='Choose file' />
        <br />
        <text>Tags</text>
        <input name="Tags" type='text' />
        <br />
        <br />
        <input type='submit' value='Upload' />
    </form>
</div>