<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="HighlightsConnString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Highlights;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="MongoDatabaseName" value="HighlightsDatabase" />
    <add key="MongoUsername" value="admin" />
    <add key="MongoPassword" value="admin" />
    <add key="MongoPort" value="27017" />
    <add key="MongoHost" value="localhost" />
  </appSettings>
</configuration>