@{
    ViewData["Title"] = "Home Page";
}

@{await Html.RenderPartialAsync("UploadVideo");}

<div>
    <br />
    <br />
    @using (Html.BeginForm("Search",
            "Home",
            FormMethod.Get))
    {
        @Html.AntiForgeryToken()

        <text>Search</text>
        <input name="searchTerm" type='text' />
        <br />
        <br />
        <input type='submit' value='Search' />
    }
</div>