@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using VSP.Data.Models.Enums;

<div>
    <form id="uploadVideoFormId" name="form" onsubmit="return uploadFiles('file');" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <text><h1>PogU</h1></text>
        <label for='file'>File:</label>
        <input id='file' name='FileData' type='file' accept=".mp4,.webm" value='Choose file' />
        <br />
        <text>Highlight hero</text>
        @Html.DropDownList("Hero",
                     new SelectList(Enum.GetValues(typeof(HeroesEnum))).Skip(1),
                     "Select hero")
        <br />
        <text>Tags (comma separated)</text>
        <input id="Tags" name="Tags" type='text' />
        <br />
        <br />
        <input id="uploadSubmitButton" type='submit' value='Upload' />
    </form>
    <div style="position:relative;width:296px;background:#f0f0f0">
        <div id="progress" style="background: blue; height: 20px;width:0"></div>
    </div>
    <div style="display:none">
        <a id="videoLinkId"></a>
    </div>
</div>
