
@{
    ViewData["Title"] = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Video</h2>

<video controls="" autoplay playsinline preload="auto">
    <source src="../GetVideo/@(ViewContext.RouteData.Values["id"])" type="audio/mp4">
</video>

